@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

body {
    background-color: rgb(43, 43, 43);
    color: white;
    font-family: 'Poppins';
    -webkit-user-drag: none;
    user-select: none;
}

.container {
    max-width: 600px;
    height: 100vh;
    max-height: 800px ;
    margin: 20px auto;
    padding: 15px;
    background-color: rgb(34, 34, 34);
    border-radius: 20px;
}

@media (max-width: 800px) {
    .container {
        margin: 0 auto;
        max-height: none;
    }
}